.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 32px;
}

.title {
    margin-top: 32px;
    color: rgb(65, 40, 14);
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    background-color: rgb(238, 181, 76);
    padding: 16px 22px;
    border: 5px rgb(65, 40, 14) solid;
    border-radius: 5px;
}

.img {
    width: 150px;
    height: 150px;
    margin-top: 30px;
}

.text {
    font-style: italic;
    color: #ffffff;
    text-align: center;
    font-size: 22px;
}